@import "../../vars.css";

.container {
  scroll-margin-top: 110px;
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: left;
}

.projects {
  margin-top: 37px;
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Optional: for snapping behavior */
  gap: 15px; /* Space between cards */
  padding: 10px 0;
  width: 100%;
}

.scrollItem {
  flex: 0 0 auto; 
  scroll-snap-align: start; 
}

.scrollButtons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
  pointer-events: none;
  z-index: 2;
}

.scrollButton {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;
}

.scrollButton:hover {
  transform: scale(1.05);
}

.scrollItem:hover {
  transform: scale(1.02);
  z-index: 1;
} 